.btn {
  width: 125px;
  height: 44px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #52555f;
  text-transform: uppercase;
  background-color: transparent;
  border-style: solid;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  cursor: pointer;
  border-color: #f5f6fb;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  border-color: #c5c6ca;
}
.btnActive {
  background-color: var(--accent-color);
  color: #fff;
  border-color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnActive:hover {
  background-color: #fff;
  color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 10px 10px 30px rgba(235, 167, 103, 0.4);
}
