.balanceBox {
  display: flex;
  font-size: 12px;
  line-height: 14px;
}
.balanceTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-color-one);
  margin-bottom: 6px;
  margin-top: 43px;
}

.balanceValue {
  border: 2px solid var(--white-color);
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  width: 127px;
  height: 44px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-modal-two-colour);
}
.buttonBalance {
  border: 2px solid var(--white-color);
  border-bottom-right-radius: 22px;
  border-top-right-radius: 22px;
  border-left: 0;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-one);
  background-color: var(--bg-modal-two-colour);
}
.buttonBalance:hover,
.buttonBalance:focus {
  background-color: var(--accent-color);
  border: solid var(--accent-color);
  border-left: 0;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .balance {
    display: flex;
    align-items: center;
  }
  .balanceTitle {
    margin: 0;
    margin-right: 21px;
  }
  .balanceValue {
    margin-right: 15px;
    border-radius: 16px;
  }
  .buttonBalance {
    border-radius: 16px;
  }
  .goToReport {
  }
}
@media screen and (min-width: 1280px) {
  .goToReport {
    margin-left: 205px;
  }
}
