.authWrapper {
  /* Геометрия */
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 53px;
  /* Оформление */
  border: 1px solid blue;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
}

.authWithGoogleTitle {
  /* Геометрия */
  margin-bottom: 25px;
  /* Текст */
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: var(--text-color-four);
  /* Оформление */
}

.authWithEmailTitle {
  font-size: 10px;
  line-height: 12px;
  color: #52555f;
  margin-bottom: 25px;
}
