.TitleLableName {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.InputEmail {
  /* Геометрия */
  margin-bottom: 30px;
  padding: 17px 20px;
  /* Текст */
  font-size: 14px;
  line-height: 16px;
  color: #a6abb9;
  /* Оформление */
  background-color: tomato;
  border-radius: 30px;
  border: none;
  outline: none;
}
.InputPassword {
  background-color: tomato;
  border-radius: 30px;
  margin-bottom: 40px;
  outline: none;
  border: none;
  padding: 17px 20px;
  font-size: 14px;
  line-height: 16px;

  color: #a6abb9;
}
.battonWrap {
  display: flex;
  margin-bottom: 53px;
}
