.TitleLableName {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.InputEmail {
  width: 100%;
  /* Геометрия */
  margin-bottom: 30px;
  padding: 17px 20px;
  /* Текст */
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  /* Оформление */
  background-color: #f6f7fb;
  border-radius: 30px;
  border: none;
  outline: none;
}
.InputEmail::placeholder {
  color: #a6abb9;
}
.InputPassword {
  width: 100%;
  /* Геометрия */
  margin-bottom: 30px;
  padding: 17px 20px;
  /* Текст */
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  /* Оформление */
  background-color: #f6f7fb;
  border-radius: 30px;
  border: none;
  outline: none;
}
.InputPassword::placeholder {
  color: #a6abb9;
}
.battonWrap {
  display: flex;
}
